@page "/countries"

<h3>Paises</h3>

@if (_countries == null)
{
    <p>CArgando...</p>
}
else
{
    <table border="1">
        <tr>
            <td>País</td>
        </tr>
        @foreach(var country in _countries)
        {
            <tr>
                <td>@country.Name</td>
            </tr>
        }
    </table>
}